/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* color pallette/ */

/* font-family: "gill-sans-nova", sans-serif;
font-weight: 500;
font-style: normal; 

.dynapuff-<uniquifier> {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: auto;
}

h1{
    font-family: 'DynaPuff', serif;
    font-size: 60px;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    background-color: #811e09;
  }

.page-header-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    width: 500px;
  }
.box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.card {
    margin: 20px;
    background-color: #fad61d;
    color: #811e09;
    width: 250px;
    height: 250px; 
    border: 10px solid #811e09;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    -ms-flex-line-pack: center;
        align-content: center;
}

.list-item {
    display: block;
    font-family: "DynaPuff";
    font-size: 40px;
}