/* color pallette/ */
:root {
  --primary-color: #811e09;
  --secondary-color: #f62d14;
  --text-color-dark: #000;
  --text-color-light: #e19720;
  --button-color: #fad61d;
  --padding-list: 20px;
  --margin-list: 40px;
}

/* font-family: 
"gill-sans-nova", sans-serif;
font-weight: 500;
font-style: normal; 

.dynapuff-<uniquifier> {
  font-family: "DynaPuff", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

/* styles for body */
body {
    font-family: 'Gill Sans', sans-serif;
    font-size: 24px;
    /* display: block;
    width: 100%;
    margin: 0 auto;
    text-align: auto; */
} 
/* Page title */
body h1{
    font-family: 'DynaPuff', serif;
    font-size: 60px;
    text-align: center;
    margin-top: var(--margin-list);
    padding-top: var(--padding-list);
}

/* Display for pokemon list */
.pokemon-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center
}
/* pokemon button styling */
.btn{
    margin: 20px; 
    background-color: var(--button-color);
    color: var(--primary-color);
    width: 320px;
    height: auto; 
    font-family: "DynaPuff";
    font-size: 32px;
    justify-content: center;
    transition-duration: 0.4s
}
/* style for button hover */
.btn:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--button-color);
}

/* Modal styling */

 .modal{
  animation-name: zoom;
  animation-duration: 0.6s;
}


@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.modal-content {
  text-align: center
} 
.modal-content h2{
  font-family: "DynaPuff", serif;
  font-size: 36px;
}

